# dependencies
node_modules/
npm-debug.log*

# local env files (may contain secrets)
.env
.env.*

# Expo / RN caches
.expo/
.expo-shared/
dist/
web-build/
*.log

# Native folders (Expo managed: usually ignore)
android/
ios/
# If you plan to edit native code, remove the two lines above.

# Metro / bundler
.expo-dev/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
